Title of Project:  
    Extracting and Analyzing Large Exam Datasets with Python DataFrames and Visualization with Tableau. 
    
Description of project:
    This project extracts large examination data from text files for five examinations years. 
    The data which contains the student information (Exam number, name, gender), subject codes 
    and scores for each student in each subject are read into a pandas DataFrame. Statistical 
    analyses of performance for each examination year, for each subject, and for each Examination 
    center are then performed. A transcript is produced for each student. A comparative analysis 
    of performance for the five examination years are also carried out. The data is visualized with Tableau.

In [1]:
#IMPORT DEPENDECIES
import pandas as pd
import numpy as np 
import functools
from functools import reduce
import time
import xlsxwriter

# DECLARTION OF CONSTANTS
#grade limits
NINETY = 90
EIGHTY = 80
SEVENTY = 70
SIXTY_FIVE = 65
SIXTY = 60
FIFTY = 50
FORTY = 40

# Define Grades
GRADE_A = "A"
GRADE_B = "B"
GRADE_C = "C"
GRADE_D = "D"
GRADE_F = "F"
GRADE_U = "U"

# Define grade boundaries
def assign_grade(score):
    grade = ""
    if score >= EIGHTY:
        grade = GRADE_A
    elif EIGHTY > score >= SIXTY_FIVE:
        grade = GRADE_B
    elif SIXTY_FIVE > score >= FIFTY:
        grade = GRADE_C
    elif FIFTY > score >= FORTY:
        grade = GRADE_D   
    elif score < FORTY:
        grade = GRADE_U       
    return grade

# Define pass grades
def did_pass(grade):
    passed = False
    if grade == GRADE_A or \
        grade == GRADE_B or\
        grade == GRADE_C:
        passed = True
    return passed

# Read the data file 
def read_data(file):
    data = open(file, "r")
    return data

# Create an output dictionary 
def process_line_to_dictionary(data_line):
    output_dictionary = {}
    line = data_line.lstrip("{").rstrip("}\n").replace("'", "")
    line_list = line.split(",")
    student_names = line_list[0].split(":")[1].lstrip(" ")
    student_exam_number = line_list[1].split(":")[1].lstrip(" ")
    center_number = line_list[2].split(":")[1].lstrip(" ")
    gender = line_list[3].split(":")[1].lstrip(" ")
    year = line_list[4].split(":")[1].lstrip(" ")
    list_of_subjects = line_list[5:]
    
    output_dictionary["Student Names"] = student_names
    output_dictionary["Student Exam Number"] = student_exam_number
    output_dictionary["Center Number"] = center_number
    output_dictionary["Gender"] = gender
    output_dictionary["Exam Year"] = str(year)
    
    for subject in list_of_subjects:
        subject_content= subject.split(":")
        subject_code = subject_content[0].lstrip(" ")
        subject_score = float(subject_content[1].lstrip(" "))
        output_dictionary[subject_code] = subject_score

    return output_dictionary

DATA
Reading of the Data file for the Examination Year.
•	Clean and mark out data positions in the text file.
•	Create an output dictionary to store the data.

METHODOLOGY
•   Create a DataFrame (df_raw) and read data into it.
•   Create another DataFrame (df_main2015) where the student numerical scores in 
    the df_raw DataFrame are converted into letter Grades.
•   Index the ‘Student Exam Number’

In [2]:
#Create a pandas DataFrame
start_time = time.time()
df_raw = pd.DataFrame()
data = read_data("GCE_2015.txt")
for line in data:
    line_dictionary = process_line_to_dictionary(line)
    df_raw = df_raw.append(line_dictionary, ignore_index=True)
    line_dictionary.clear()
 
print("runtime")
print((time.time() - start_time))   
#df_raw

runtime
1954.4114911556244

In [3]:
#Setting the "Student Exam Number"  as an index after reading in data
df_index = df_raw.set_index('Student Exam Number') 
#df_index

In [59]:
# Rearranging columns of the DataFrame
print("Print df2")
df2 = df_index[['Exam Year','Center Number', 'Student Names', 'Gender', '505', '510',
                 '515','520', '525', '530', '535','540', '545', '550', '560', 
                '565', '570', '575', '580', '585', '590', '595']]
df2

Print df2

,Exam Year,Center Number,Student Names,Gender,505,510,515,520,525,530,...,545,550,560,565,570,575,580,585,590,595
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1230,2015,1110,njwo0 ngwo0,M,47.9,94.5,NaN,41.5,NaN,NaN,...,28.3,NaN,NaN,NaN,NaN,68.1,NaN,NaN,NaN,45.4
OL1231,2015,1110,njwo1 ngwo1,M,NaN,NaN,69.2,46.4,63.7,NaN,...,NaN,NaN,NaN,69.6,63.9,NaN,NaN,NaN,NaN,NaN
OL1232,2015,1175,njwo2 ngwo2,F,87.5,NaN,NaN,NaN,NaN,68.8,...,NaN,40.1,NaN,50.3,NaN,NaN,66.7,77.5,NaN,NaN
OL1233,2015,1115,njwo3 ngwo3,M,NaN,NaN,NaN,NaN,77.2,91.3,...,97.5,NaN,NaN,NaN,NaN,NaN,NaN,94.8,NaN,NaN
OL1234,2015,1124,njwo4 ngwo4,F,NaN,NaN,92.9,72.2,98.2,NaN,...,NaN,NaN,79.9,NaN,NaN,NaN,NaN,NaN,NaN,98.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OL12389995,2015,1146,njwo89995 ngwo89995,F,NaN,NaN,NaN,NaN,NaN,NaN,...,46.8,NaN,70.8,NaN,NaN,59.0,81.8,NaN,NaN,85.9
OL12389996,2015,1115,njwo89996 ngwo89996,F,79.9,NaN,NaN,NaN,NaN,NaN,...,38.4,42.7,56.9,70.0,NaN,75.1,95.0,69.4,NaN,NaN
OL12389997,2015,1146,njwo89997 ngwo89997,M,NaN,82.1,77.8,NaN,NaN,NaN,...,NaN,73.0,NaN,NaN,NaN,NaN,NaN,58.8,NaN,NaN
OL12389998,2015,1175,njwo89998 ngwo89998,F,86.1,NaN,91.0,95.9,54.6,59.9,...,43.3,NaN,NaN,NaN,NaN,41.0,79.7,88.0,92.9,NaN
OL12389999,2015,1131,njwo89999 ngwo89999,M,NaN,NaN,63.3,40.6,NaN,84.0,...,NaN,75.4,NaN,83.0,NaN,75.9,45.2,NaN,91.6,63.9

In [73]:
# Export the DataFrame (df2) to excel for visualization with Tableau.
# Import xlsxwiter
import xlsxwriter
writer = pd.ExcelWriter('C:\\Users\\akoko\\Desktop\\Results_Data_df2.xlsx', engine='xlsxwriter')
df2.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [64]:
# making new data frame with NaN values dropped 
print("Drop NaN Values from DataFrame")
df3 =df2
df3 = df3.fillna(" ") 
df3

Drop NaN Values from DataFrame

,Exam Year,Center Number,Student Names,Gender,505,510,515,520,525,530,...,545,550,560,565,570,575,580,585,590,595
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1230,2015,1110,njwo0 ngwo0,M,47.9,94.5,,41.5,,,...,28.3,,,,,68.1,,,,45.4
OL1231,2015,1110,njwo1 ngwo1,M,,,69.2,46.4,63.7,,...,,,,69.6,63.9,,,,,
OL1232,2015,1175,njwo2 ngwo2,F,87.5,,,,,68.8,...,,40.1,,50.3,,,66.7,77.5,,
OL1233,2015,1115,njwo3 ngwo3,M,,,,,77.2,91.3,...,97.5,,,,,,,94.8,,
OL1234,2015,1124,njwo4 ngwo4,F,,,92.9,72.2,98.2,,...,,,79.9,,,,,,,98.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OL12389995,2015,1146,njwo89995 ngwo89995,F,,,,,,,...,46.8,,70.8,,,59,81.8,,,85.9
OL12389996,2015,1115,njwo89996 ngwo89996,F,79.9,,,,,,...,38.4,42.7,56.9,70,,75.1,95,69.4,,
OL12389997,2015,1146,njwo89997 ngwo89997,M,,82.1,77.8,,,,...,,73,,,,,,58.8,,
OL12389998,2015,1175,njwo89998 ngwo89998,F,86.1,,91,95.9,54.6,59.9,...,43.3,,,,,41,79.7,88,92.9,
OL12389999,2015,1131,njwo89999 ngwo89999,M,,,63.3,40.6,,84,...,,75.4,,83,,75.9,45.2,,91.6,63.9

In [72]:
# Export the DataFrame (df3) to excel for visualization with Tableau.
import xlsxwriter
writer = pd.ExcelWriter('C:\\Users\\akoko\\Desktop\\Results_Data_df3.xlsx', engine='xlsxwriter')
df3.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [6]:
# Create a new DataFrame and convert scores to letter grades (505 ----> 505G)

df4 = pd.DataFrame()
newcols = ['505G', '510G','515G', '520G', '525G', '530G','535G', '540G',
        '545G', '550G','560G', '565G', '570G', '575G','580G', '585G','590G', '595G']

cols = ['505', '510','515', '520', '525', '530','535', '540',
        '545', '550','560', '565', '570', '575','580', '585','590', '595']
i = 0
while i < 18:
    df4[newcols[i]] = df2[cols[i]].apply(assign_grade)
    i += 1

# Add the 'Exam Year', 'Centre Number', 'Student Names' and 'Gender' to  DataFrame
df4['Exam Year'] = df2['Exam Year']
df4['Center Number'] = df2['Center Number']
df4['Student Names'] = df2['Student Names']
df4['Gender'] = df2['Gender']

In [7]:
# Computing total number of subjects registered by each candidate
def compute_number_of_subjects_registered(list_of_grades):
    total_number_of_registered = 0
    for subjects_registered in list_of_grades:
        if subjects_registered == GRADE_A or subjects_registered ==\
                GRADE_B or subjects_registered == GRADE_C or \
                subjects_registered == GRADE_D or subjects_registered == GRADE_U:
                total_number_of_registered += 1
    return total_number_of_registered

# Compute total number of subjects passed by each candidate
def compute_total_subjects_passed(list_of_grades):
    total_subjects_passed = 0
    for letter_grade in list_of_grades:     
        if letter_grade == GRADE_A or letter_grade == GRADE_B or letter_grade == GRADE_C:
            total_subjects_passed += 1
    return total_subjects_passed

# compute points scored from pass grades    
def compute_points(letter_grade):
    points = 0
    if letter_grade == GRADE_A:
        points = 3
    if letter_grade == GRADE_B:
        points = 2
    if letter_grade == GRADE_C:
        points = 1
    return points
    
# Computing total points score by each candidate
def compute_total_points(list_of_grades):
    total_points = 0
    for letter_grade in list_of_grades:
        points = compute_points(letter_grade)
        total_points += points
    return total_points

In [8]:
# 1. CREATE OVERALL DATAFRAME (df_main2015) 
print("OVERALL DATAFRAME - df_main2015")
points_list = []
grade_list = []
registered_list = []
list_of_student_exam_no = list(df_raw['Student Exam Number'])
for exam_no in list_of_student_exam_no:
    grades = list(df4.loc[exam_no, :])
    subjects_passed = compute_total_subjects_passed(grades)
    student_total_points = compute_total_points(grades)
    subjects_registered = compute_number_of_subjects_registered(grades)
    points_list.append(student_total_points)
    grade_list.append(subjects_passed)
    registered_list.append(subjects_registered)
        
df4['Points'] = points_list
df4['Subjects Passed'] = grade_list
df4['Subjects Registered'] = registered_list

OVERALL DATAFRAME - df_main2015

In [9]:
# Rearrange the columns to have a new DataFrame and name it "df_main2015"
print("new main Df")

df4["Student Exam No"] = list_of_student_exam_no

df_main2015 = df4[['Student Exam No','Center Number','Exam Year','Student Names', 'Gender', 
               '505G', '510G','515G','520G', '525G', '530G','535G', '540G','545G', '550G',
               '560G', '565G', '570G', '575G','580G', '585G','590G', '595G',
               'Subjects Registered','Subjects Passed', 'Points']]
df_main2015

new main Df

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1230,OL1230,1110,2015,njwo0 ngwo0,M,D,A,,D,,...,,,B,,,,D,7,3,6
OL1231,OL1231,1110,2015,njwo1 ngwo1,M,,,B,D,C,...,B,C,,,,,,5,4,6
OL1232,OL1232,1175,2015,njwo2 ngwo2,F,A,,,,,...,C,,,B,B,,,6,5,10
OL1233,OL1233,1115,2015,njwo3 ngwo3,M,,,,,B,...,,,,,A,,,5,5,13
OL1234,OL1234,1124,2015,njwo4 ngwo4,F,,,A,B,A,...,,,,,,,A,5,5,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OL12389995,OL12389995,1146,2015,njwo89995 ngwo89995,F,,,,,,...,,,C,A,,,A,6,5,12
OL12389996,OL12389996,1115,2015,njwo89996 ngwo89996,F,B,,,,,...,B,,B,A,B,,,10,7,14
OL12389997,OL12389997,1146,2015,njwo89997 ngwo89997,M,,A,B,,,...,,,,,C,,,5,5,11
OL12389998,OL12389998,1175,2015,njwo89998 ngwo89998,F,A,,A,A,C,...,,,D,B,A,A,,10,8,19
OL12389999,OL12389999,1131,2015,njwo89999 ngwo89999,M,,,C,D,,...,A,,B,D,,A,C,10,8,16

In [10]:
# 2. OTHER DATAFRAMES-BY POINTS SCORED, SUBJECTS PASSED
# Sort according to points scored
print("Sorting by no of points scored")
cols = ['Points']
df_points = df_main2015.sort_values(cols, ascending=False)
df_points.head(10)

Sorting by no of points scored

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL12369572,OL12369572,1131,2015,njwo69572 ngwo69572,F,A,A,A,,B,...,,,,A,,A,,11,11,31
OL12349265,OL12349265,1110,2015,njwo49265 ngwo49265,F,A,A,,B,,...,A,A,B,A,A,B,,11,11,30
OL12381138,OL12381138,1176,2015,njwo81138 ngwo81138,F,,A,A,,A,...,,A,A,A,,,,11,11,30
OL12350251,OL12350251,1115,2015,njwo50251 ngwo50251,F,A,,,,,...,A,A,,A,A,C,,11,11,30
OL12347960,OL12347960,1124,2015,njwo47960 ngwo47960,M,D,,A,A,,...,A,,A,A,,A,A,11,10,29
OL12336195,OL12336195,1146,2015,njwo36195 ngwo36195,M,,A,A,,A,...,,,A,B,,,B,11,11,29
OL12326868,OL12326868,1124,2015,njwo26868 ngwo26868,F,A,B,B,,,...,A,A,B,,A,,B,11,11,29
OL12349228,OL12349228,1131,2015,njwo49228 ngwo49228,F,,A,A,,A,...,,A,A,A,,A,A,11,11,29
OL12372064,OL12372064,1110,2015,njwo72064 ngwo72064,F,A,B,C,,B,...,A,,A,,,,A,11,11,29
OL12319122,OL12319122,1110,2015,njwo19122 ngwo19122,F,B,A,A,,,...,,A,B,A,A,,A,11,11,29

In [11]:
# Sort according to number of subjects passed
#print("Sorting by no of Subjects passed")
#cols = ['Subjects Passed']
#df_points = df_main2015.sort_values(cols, ascending=False)
#df_points

In [12]:
# Sort by Exam Year
#print("Sort by Exam Year")
#cols = ['Exam Year']
#df_points = df_main2015.sort_values(cols, ascending=True)
#df_points

In [13]:
# Count how many students registered for each year
#print("Count number Registered by Exam Year")
#df_count_by_year = df_main2015['Exam Year'].value_counts()
#df_count_by_year

In [14]:
# 3. DATAFRAME FOR EACH EXAMINATION YEAR 2015
#DataFrame for Examination Year 2015 (df_2015)
#print("Print DataFrames for Year 2015")
#df_main2015 = df_main2015.loc[df_main2015['Exam Year'] == '2015']
#df_main2015

In [15]:
# 4. COMPUTING OVERALL STATISTICS
# 4.1 Statistics by Gender
# Compute statistics of Males and females for entire exams for 2015)
print("Statistics of Number of Males and females for entire exams - 2015")
def total_male_female(dataframe):
    return {"Male":len(dataframe[dataframe['Gender'] == 'M']), 
            "Female":len(dataframe[dataframe['Gender'] == 'F'])}

print(total_male_female(df_main2015))

Statistics of Number of Males and females for entire exams - 2015
{'Male': 44939, 'Female': 45061}

In [16]:
# 4.2 Compute statistics of number of passes and failures for entire exams - 2015
print("Statistics of Number of passes and failures for entire exams - 2015")
def pass_fail(dataframe):
    return {"Passed":len(dataframe[dataframe['Subjects Passed'] >= 4]), 
            "Failed":len(dataframe[dataframe['Subjects Passed'] < 4 ])}
print(pass_fail(df_main2015))

Statistics of Number of passes and failures for entire exams - 2015
{'Passed': 82142, 'Failed': 7858}

In [17]:
# 5. COMPUTING STATISTICS BY EXAM YEAR
# Computer number passed and percentage passed in 4 or more subjects for 2015 Exam Year
print("Statistics for 2015")
total_passed_2015 = np.sum(df_main2015['Subjects Passed'] >= 4)
total_registered_2015 = np.sum(df_main2015['Subjects Passed'] >= 0 )
print(total_registered_2015)
percent_passed_2015 = round((total_passed_2015)/(total_registered_2015) * 100, 2)
percent_passed_2015

Statistics for 2015
90000

91.27

In [18]:
# 6 COMPUTING STATISTICS BY SUBJECT 
# Compute the statistics of performance in each subject for 2015 Exam Year
def build_subject_stats_dataframe_by_year(panda_for_given_year):
    statistical_pd = pd.DataFrame()
    statistical_pd['Stats'] = ["Number Registered", "Number Passed", "% Passed", "A Count",
                               "B Count", "C Count", "D Count", "U Count"]
    A505 = int(np.sum(panda_for_given_year['505G'] == 'A'))
    B505 = int(np.sum(panda_for_given_year['505G'] == 'B'))
    C505 = int(np.sum(panda_for_given_year['505G'] == 'C'))
    D505 = int(np.sum(panda_for_given_year['505G'] == 'D'))
    U505 = int(np.sum(panda_for_given_year['505G'] == 'U'))
    total_registered_505 = int(A505) + int(B505) + int(C505) + int(D505) + int(U505)
    total_passed_505 = int(A505) + int(B505) + int(C505)
    percent_passed_505 = round((total_passed_505/total_registered_505)*100,2)
    statistical_pd['505'] = [total_registered_505, total_passed_505, percent_passed_505,int(A505),B505,C505,D505,U505]
     
    A510 = int(np.sum(panda_for_given_year['510G'] == 'A'))
    B510 = int(np.sum(panda_for_given_year['510G'] == 'B'))
    C510 = int(np.sum(panda_for_given_year['510G'] == 'C'))
    D510 = int(np.sum(panda_for_given_year['510G'] == 'D'))
    U510 = int(np.sum(panda_for_given_year['510G'] == 'U'))
    total_registered_510 = A510 + B510 + C510 + D510 + U510
    total_passed_510 = A510 + B510 + C510
    percent_passed_510 = round((total_passed_510/total_registered_510)*100,2)
    statistical_pd['510'] = [total_registered_510, total_passed_510, percent_passed_510,A510,B510,C510,D510,U510]
     
    A515 = int(np.sum(panda_for_given_year['515G'] == 'A'))
    B515 = int(np.sum(panda_for_given_year['515G'] == 'B'))
    C515 = int(np.sum(panda_for_given_year['515G'] == 'C'))
    D515 = int(np.sum(panda_for_given_year['515G'] == 'D'))
    U515 = int(np.sum(panda_for_given_year['515G'] == 'U'))
    total_registered_515 = A515 + B515 + C515 + D515 + U515
    total_passed_515 = A515 + B515 + C515
    percent_passed_515 = round((total_passed_515/total_registered_515)*100,2)
    statistical_pd['515'] = [total_registered_515, total_passed_515, percent_passed_515,A515,B515,C515,D515,U515]
     
    A520 = int(np.sum(panda_for_given_year['520G'] == 'A'))
    B520 = int(np.sum(panda_for_given_year['520G'] == 'B'))
    C520 = int(np.sum(panda_for_given_year['520G'] == 'C'))
    D520 = int(np.sum(panda_for_given_year['520G'] == 'D'))
    U520 = int(np.sum(panda_for_given_year['520G'] == 'U'))
    total_registered_520 = A520 + B520 + C520 + D520 + U520
    total_passed_520 = A520 + B520 + C520
    percent_passed_520 = round((total_passed_520/total_registered_520)*100,2)
    statistical_pd['520'] = [total_registered_520, total_passed_520, percent_passed_520,A520,B520,C520,D520,U520]
     
    A525 = int(np.sum(panda_for_given_year['525G'] == 'A'))
    B525 = int(np.sum(panda_for_given_year['525G'] == 'B'))
    C525 = int(np.sum(panda_for_given_year['525G'] == 'C'))
    D525 = int(np.sum(panda_for_given_year['525G'] == 'D'))
    U525 = int(np.sum(panda_for_given_year['525G'] == 'U'))
    total_registered_525 = A525 + B525 + C525 + D525 + U525
    total_passed_525 = A525 + B525 + C525
    percent_passed_525 = round((total_passed_525/total_registered_525)*100,2)
    statistical_pd['525'] = [total_registered_525, total_passed_525, percent_passed_525,A525,B525,C525,D525,U525]
     
    A530 = int(np.sum(panda_for_given_year['530G'] == 'A'))
    B530 = int(np.sum(panda_for_given_year['530G'] == 'B'))
    C530 = int(np.sum(panda_for_given_year['530G'] == 'C'))
    D530 = int(np.sum(panda_for_given_year['530G'] == 'D'))
    U530 = int(np.sum(panda_for_given_year['530G'] == 'U'))
    total_registered_530 = A530 + B530 + C530 + D530 + U530
    total_passed_530 = A530 + B530 + C530
    percent_passed_530 = round((total_passed_530/total_registered_530)*100,2)
    statistical_pd['530'] = [total_registered_530, total_passed_530, percent_passed_530,A530,B530,C530,D530,U530]
     
    A535 = int(np.sum(panda_for_given_year['535G'] == 'A'))
    B535 = int(np.sum(panda_for_given_year['535G'] == 'B'))
    C535 = int(np.sum(panda_for_given_year['535G'] == 'C'))
    D535 = int(np.sum(panda_for_given_year['535G'] == 'D'))
    U535 = int(np.sum(panda_for_given_year['535G'] == 'U'))
    total_registered_535 = A535 + B535 + C535 + D535 + U535
    total_passed_535 = A535 + B535 + C535
    percent_passed_535 = round((total_passed_535/total_registered_535)*100,2)
    statistical_pd['535'] = [total_registered_535, total_passed_535, percent_passed_535,A535,B535,C535,D535,U535]
     
    A540 = int(np.sum(panda_for_given_year['540G'] == 'A'))
    B540 = int(np.sum(panda_for_given_year['540G'] == 'B'))
    C540 = int(np.sum(panda_for_given_year['540G'] == 'C'))
    D540 = int(np.sum(panda_for_given_year['540G'] == 'D'))
    U540 = int(np.sum(panda_for_given_year['540G'] == 'U'))
    total_registered_540 = A540 + B540 + C540 + D540 + U540
    total_passed_540 = A540 + B540 + C540
    percent_passed_540 = round((total_passed_540/total_registered_540)*100,2)
    statistical_pd['540'] = [total_registered_540, total_passed_540, percent_passed_540,A540,B540,C540,D540,U540]
     
    A545 = int(np.sum(panda_for_given_year['545G'] == 'A'))
    B545 = int(np.sum(panda_for_given_year['545G'] == 'B'))
    C545 = int(np.sum(panda_for_given_year['545G'] == 'C'))
    D545 = int(np.sum(panda_for_given_year['545G'] == 'D'))
    U545 = int(np.sum(panda_for_given_year['545G'] == 'U'))
    total_registered_545 = A545 + B545 + C545 + D545 + U545
    total_passed_545 = A545 + B545 + C545
    percent_passed_545 = round((total_passed_545/total_registered_545)*100,2)
    statistical_pd['545'] = [total_registered_545, total_passed_545, percent_passed_545,A545,B545,C545,D545,U545]
     
    A550 = int(np.sum(panda_for_given_year['550G'] == 'A'))
    B550 = int(np.sum(panda_for_given_year['550G'] == 'B'))
    C550 = int(np.sum(panda_for_given_year['550G'] == 'C'))
    D550 = int(np.sum(panda_for_given_year['550G'] == 'D'))
    U550 = int(np.sum(panda_for_given_year['550G'] == 'U'))
    total_registered_550 = A550 + B550 + C550 + D550 + U550
    total_passed_550 = A550 + B550 + C550
    percent_passed_550 = round((total_passed_550/total_registered_550)*100,2)
    statistical_pd['550'] = [total_registered_550, total_passed_550, percent_passed_550,A550,B550,C550,D550,U550]
     
    A560 = int(np.sum(panda_for_given_year['560G'] == 'A'))
    B560 = int(np.sum(panda_for_given_year['560G'] == 'B'))
    C560 = int(np.sum(panda_for_given_year['560G'] == 'C'))
    D560 = int(np.sum(panda_for_given_year['560G'] == 'D'))
    U560 = int(np.sum(panda_for_given_year['560G'] == 'U'))
    total_registered_560 = A560 + B560 + C560 + D560 + U560
    total_passed_560 = A560 + B560 + C560
    percent_passed_560 = round((total_passed_560/total_registered_560)*100,2)
    statistical_pd['560'] = [total_registered_560, total_passed_560, percent_passed_560,A560,B560,C560,D560,U560]
     
    A565 = int(np.sum(panda_for_given_year['565G'] == 'A'))
    B565 = int(np.sum(panda_for_given_year['565G'] == 'B'))
    C565 = int(np.sum(panda_for_given_year['565G'] == 'C'))
    D565 = int(np.sum(panda_for_given_year['565G'] == 'D'))
    U565 = int(np.sum(panda_for_given_year['565G'] == 'U'))
    total_registered_565 = A565 + B565 + C565 + D565 + U565
    total_passed_565 = A565 + B565 + C565
    percent_passed_565 = round((total_passed_565/total_registered_565)*100,2)
    statistical_pd['565'] = [total_registered_565, total_passed_565, percent_passed_565,A565,B565,C565,D565,U565]
     
    A570 = int(np.sum(panda_for_given_year['570G'] == 'A'))
    B570 = int(np.sum(panda_for_given_year['570G'] == 'B'))
    C570 = int(np.sum(panda_for_given_year['570G'] == 'C'))
    D570 = int(np.sum(panda_for_given_year['570G'] == 'D'))
    U570 = int(np.sum(panda_for_given_year['570G'] == 'U'))
    total_registered_570 = A570 + B570 + C570 + D570 + U570
    total_passed_570 = A570 + B570 + C570
    percent_passed_570 = round((total_passed_570/total_registered_570)*100,2)
    statistical_pd['570'] = [total_registered_570, total_passed_570, percent_passed_570,A570,B570,C570,D570,U570]
     
    A575 = int(np.sum(panda_for_given_year['575G'] == 'A'))
    B575 = int(np.sum(panda_for_given_year['575G'] == 'B'))
    C575 = int(np.sum(panda_for_given_year['575G'] == 'C'))
    D575 = int(np.sum(panda_for_given_year['575G'] == 'D'))
    U575 = int(np.sum(panda_for_given_year['575G'] == 'U'))
    total_registered_575 = A575 + B575 + C575 + D575 + U575
    total_passed_575 = A575 + B575 + C575
    percent_passed_575 = round((total_passed_575/total_registered_575)*100,2)
    statistical_pd['575'] = [total_registered_575, total_passed_575, percent_passed_575,A575,B575,C575,D575,U575]
     
    A580 = int(np.sum(panda_for_given_year['580G'] == 'A'))
    B580 = int(np.sum(panda_for_given_year['580G'] == 'B'))
    C580 = int(np.sum(panda_for_given_year['580G'] == 'C'))
    D580 = int(np.sum(panda_for_given_year['580G'] == 'D'))
    U580 = int(np.sum(panda_for_given_year['580G'] == 'U'))
    total_registered_580 = A580 + B580 + C580 + D580 + U580
    total_passed_580 = A580 + B580 + C580
    percent_passed_580 = round((total_passed_580/total_registered_580)*100,2)
    statistical_pd['580'] = [total_registered_580, total_passed_580, percent_passed_580,A580,B580,C580,D580,U580]
     
    A585 = int(np.sum(panda_for_given_year['585G'] == 'A'))
    B585 = int(np.sum(panda_for_given_year['585G'] == 'B'))
    C585 = int(np.sum(panda_for_given_year['585G'] == 'C'))
    D585 = int(np.sum(panda_for_given_year['585G'] == 'D'))
    U585 = int(np.sum(panda_for_given_year['585G'] == 'U'))
    total_registered_585 = A585 + B585 + C585 + D585 + U585
    total_passed_585 = A585 + B585 + C585
    percent_passed_585 = round((total_passed_585/total_registered_585)*100,2)
    statistical_pd['585'] = [total_registered_585, total_passed_585, percent_passed_585,A585,B585,C585,D585,U585]
     
    A590 = int(np.sum(panda_for_given_year['590G'] == 'A'))
    B590 = int(np.sum(panda_for_given_year['590G'] == 'B'))
    C590 = int(np.sum(panda_for_given_year['590G'] == 'C'))
    D590 = int(np.sum(panda_for_given_year['590G'] == 'D'))
    U590 = int(np.sum(panda_for_given_year['590G'] == 'U'))
    total_registered_590 = A590 + B590 + C590 + D590 + U590
    total_passed_590 = A590 + B590 + C590
    percent_passed_590 = round((total_passed_590/total_registered_590)*100,2)
    statistical_pd['590'] = [total_registered_590, total_passed_590, percent_passed_590,A590,B590,C590,D590,U590]
     
    A595 = int(np.sum(panda_for_given_year['595G'] == 'A'))
    B595 = int(np.sum(panda_for_given_year['595G'] == 'B'))
    C595 = int(np.sum(panda_for_given_year['595G'] == 'C'))
    D595 = int(np.sum(panda_for_given_year['595G'] == 'D'))
    U595 = int(np.sum(panda_for_given_year['595G'] == 'U'))
    total_registered_595 = A595 + B595 + C595 + D595 + U595
    total_passed_595 = A595 + B595 + C595
    percent_passed_595 = round((total_passed_595/total_registered_595)*100,2)
    statistical_pd['595'] = [total_registered_595, total_passed_595, percent_passed_595,A595,B595,C595,D595,U595]
        
    return statistical_pd

In [19]:
# 6.2 Create DataFrames of Statistics of performance for each subject for 2015 Exam year
print("Statistics for 2015")
stats_2015 = build_subject_stats_dataframe_by_year(df_main2015)
stats_2015

Statistics for 2015

,Stats,505,510,515,520,525,530,535,540,545,550,560,565,570,575,580,585,590,595
0,Number Registered,39899.00,39909.00,39987.00,39982.00,39790.00,40170.00,40010.00,40064.00,39909.00,40083.00,39874.00,39874.00,39786.00,39937.00,39914.00,40283.00,40176.00,39875.00
1,Number Passed,33283.00,33192.00,30768.00,30757.00,30549.00,28728.00,30863.00,30862.00,26593.00,31017.00,30653.00,30715.00,26531.00,30823.00,28603.00,30999.00,30692.00,30736.00
2,% Passed,83.42,83.17,76.95,76.93,76.78,71.52,77.14,77.03,66.63,77.38,76.87,77.03,66.68,77.18,71.66,76.95,76.39,77.08
3,A Count,13490.00,13279.00,12339.00,12364.00,12228.00,11423.00,12319.00,12363.00,10625.00,12465.00,12249.00,12322.00,10702.00,12379.00,11584.00,12411.00,12190.00,12365.00
4,B Count,9874.00,9815.00,9433.00,9166.00,9133.00,8581.00,9212.00,9287.00,7944.00,9249.00,9287.00,9371.00,7868.00,9311.00,8542.00,9280.00,9282.00,9221.00
5,C Count,9919.00,10098.00,8996.00,9227.00,9188.00,8724.00,9332.00,9212.00,8024.00,9303.00,9117.00,9022.00,7961.00,9133.00,8477.00,9308.00,9220.00,9150.00
6,D Count,6616.00,6717.00,6235.00,6165.00,6146.00,5759.00,6113.00,6116.00,5346.00,6046.00,6180.00,6115.00,5332.00,6027.00,5653.00,6196.00,6365.00,6078.00
7,U Count,0.00,0.00,2984.00,3060.00,3095.00,5683.00,3034.00,3086.00,7970.00,3020.00,3041.00,3044.00,7923.00,3087.00,5658.00,3088.00,3119.00,3061.00

In [20]:
# Function to generate centre statistics by year into a dataframe 
def generate_center_stats_by_year(dataframe_for_that_year, center_number):
     return dataframe_for_that_year.loc[dataframe_for_that_year['Center Number'] == center_number]

In [21]:
# 7. STATISTICS OF 2015 EXAMINBATION YEAR BY EXAM CENTERS

# Statistics of 2015 for centre No 1110
print("Statistics of 2015 for centre No 1110")
center_no_1110_2015 = generate_center_stats_by_year(df_main2015, "1110")
center_no_1110_2015_stats = build_subject_stats_dataframe_by_year(center_no_1110_2015)
center_no_1110_2015_stats

Statistics of 2015 for centre No 1110

,Stats,505,510,515,520,525,530,535,540,545,550,560,565,570,575,580,585,590,595
0,Number Registered,5022.00,5003.00,5030.00,5092.00,4974.0,4974.00,5093.00,5090.00,4969.00,5126.00,5059.00,5049.00,4997.00,5025.00,5043.00,5025.00,5090.0,5010.00
1,Number Passed,4177.00,4180.00,3850.00,3924.00,3790.0,3568.00,3936.00,3951.00,3303.00,3948.00,3917.00,3914.00,3304.00,3876.00,3564.00,3870.00,3889.0,3784.00
2,% Passed,83.17,83.55,76.54,77.06,76.2,71.73,77.28,77.62,66.47,77.02,77.43,77.52,66.12,77.13,70.67,77.01,76.4,75.53
3,A Count,1721.00,1675.00,1524.00,1560.00,1558.0,1423.00,1559.00,1617.00,1316.00,1588.00,1534.00,1523.00,1310.00,1558.00,1432.00,1549.00,1537.0,1476.00
4,B Count,1211.00,1201.00,1166.00,1205.00,1118.0,1084.00,1167.00,1162.00,980.00,1150.00,1174.00,1223.00,987.00,1173.00,1042.00,1186.00,1199.0,1165.00
5,C Count,1245.00,1304.00,1160.00,1159.00,1114.0,1061.00,1210.00,1172.00,1007.00,1210.00,1209.00,1168.00,1007.00,1145.00,1090.00,1135.00,1153.0,1143.00
6,D Count,845.00,823.00,801.00,773.00,783.0,705.00,764.00,749.00,656.00,777.00,768.00,759.00,694.00,763.00,746.00,763.00,817.0,818.00
7,U Count,0.00,0.00,379.00,395.00,401.0,701.00,393.00,390.00,1010.00,401.00,374.00,376.00,999.00,386.00,733.00,392.00,384.0,408.00

In [22]:
# Statistics of 2015 for centre No 1115
print("Statistics of 2015 for centre No 1115")
center_no_1115_2015 = generate_center_stats_by_year(df_main2015, "1115")
center_no_1115_2015_stats = build_subject_stats_dataframe_by_year(center_no_1115_2015)
center_no_1115_2015_stats

Statistics of 2015 for centre No 1115

,Stats,505,510,515,520,525,530,535,540,545,550,560,565,570,575,580,585,590,595
0,Number Registered,4968.00,4945.00,5011.00,5068.00,4948.00,5005.00,5052.00,5040.00,4876.00,5014.00,4902.00,4974.00,4853.00,4930.00,4968.00,5060.0,4986.00,4982.00
1,Number Passed,4190.00,4096.00,3845.00,3898.00,3818.00,3545.00,3926.00,3821.00,3230.00,3857.00,3772.00,3853.00,3219.00,3823.00,3531.00,3876.0,3775.00,3843.00
2,% Passed,84.34,82.83,76.73,76.91,77.16,70.83,77.71,75.81,66.24,76.92,76.95,77.46,66.33,77.55,71.07,76.6,75.71,77.14
3,A Count,1677.00,1574.00,1549.00,1529.00,1496.00,1358.00,1557.00,1515.00,1260.00,1551.00,1520.00,1510.00,1281.00,1523.00,1446.00,1507.0,1488.00,1547.00
4,B Count,1278.00,1217.00,1171.00,1192.00,1144.00,1084.00,1193.00,1156.00,1014.00,1156.00,1159.00,1201.00,971.00,1145.00,1078.00,1210.0,1145.00,1178.00
5,C Count,1235.00,1305.00,1125.00,1177.00,1178.00,1103.00,1176.00,1150.00,956.00,1150.00,1093.00,1142.00,967.00,1155.00,1007.00,1159.0,1142.00,1118.00
6,D Count,778.00,849.00,800.00,798.00,739.00,721.00,749.00,814.00,652.00,798.00,760.00,716.00,638.00,713.00,708.00,786.0,778.00,749.00
7,U Count,0.00,0.00,366.00,372.00,391.00,739.00,377.00,405.00,994.00,359.00,370.00,405.00,996.00,394.00,729.00,398.0,433.00,390.00

In [23]:
# Statistics of 2015 for centre No 1124
print("Statistics of 2015 for centre No 1124")
center_no_1124_2015 = generate_center_stats_by_year(df_main2015, "1124")
center_no_1124_2015_stats = build_subject_stats_dataframe_by_year(center_no_1124_2015)
center_no_1124_2015_stats

Statistics of 2015 for centre No 1124

,Stats,505,510,515,520,525,530,535,540,545,550,560,565,570,575,580,585,590,595
0,Number Registered,4962.00,4977.0,4922.00,5002.00,4983.00,5045.0,5008.00,5003.00,4923.00,4923.00,4874.00,4824.00,4879.00,4907.00,4900.00,4992.0,4951.00,4924.00
1,Number Passed,4152.00,4106.0,3824.00,3858.00,3813.00,3612.0,3827.00,3876.00,3275.00,3816.00,3726.00,3716.00,3249.00,3804.00,3547.00,3839.0,3794.00,3818.00
2,% Passed,83.68,82.5,77.69,77.13,76.52,71.6,76.42,77.47,66.52,77.51,76.45,77.03,66.59,77.52,72.39,76.9,76.63,77.54
3,A Count,1636.00,1644.0,1586.00,1595.00,1502.00,1467.0,1575.00,1530.00,1317.00,1541.00,1524.00,1515.00,1333.00,1506.00,1418.00,1579.0,1454.00,1574.00
4,B Count,1230.00,1186.0,1163.00,1161.00,1168.00,1036.0,1135.00,1192.00,971.00,1164.00,1112.00,1128.00,979.00,1183.00,1056.00,1133.0,1205.00,1111.00
5,C Count,1286.00,1276.0,1075.00,1102.00,1143.00,1109.0,1117.00,1154.00,987.00,1111.00,1090.00,1073.00,937.00,1115.00,1073.00,1127.0,1135.00,1133.00
6,D Count,810.00,871.0,751.00,775.00,801.00,719.0,774.00,763.00,661.00,762.00,770.00,740.00,652.00,705.00,671.00,770.0,796.00,733.00
7,U Count,0.00,0.0,347.00,369.00,369.00,714.0,407.00,364.00,987.00,345.00,378.00,368.00,978.00,398.00,682.00,383.0,361.00,373.00

In [24]:
# Statistics of 2015 for centre No 1131
print("Statistics of 2015 for centre No 1131")
center_no_1131_2015 = generate_center_stats_by_year(df_main2015, "1131")
center_no_1131_2015_stats = build_subject_stats_dataframe_by_year(center_no_1131_2015)
center_no_1131_2015_stats

Statistics of 2015 for centre No 1131

,Stats,505,510,515,520,525,530,535,540,545,550,560,565,570,575,580,585,590,595
0,Number Registered,4954.00,4918.00,4998.00,5052.0,4965.00,4982.00,4884.00,4962.00,5008.00,4963.00,4990.00,5048.00,5027.00,4907.00,4963.00,5041.0,5074.00,4943.00
1,Number Passed,4113.00,4096.00,3850.00,3910.0,3781.00,3631.00,3763.00,3894.00,3387.00,3857.00,3827.00,3878.00,3339.00,3772.00,3595.00,3917.0,3880.00,3823.00
2,% Passed,83.02,83.29,77.03,77.4,76.15,72.88,77.05,78.48,67.63,77.72,76.69,76.82,66.42,76.87,72.44,77.7,76.47,77.34
3,A Count,1737.00,1616.00,1549.00,1556.0,1491.00,1437.00,1496.00,1586.00,1366.00,1577.00,1560.00,1592.00,1332.00,1533.00,1511.00,1567.0,1580.00,1542.00
4,B Count,1172.00,1245.00,1155.00,1184.0,1106.00,1095.00,1158.00,1131.00,989.00,1171.00,1136.00,1137.00,1003.00,1141.00,1030.00,1148.0,1147.00,1141.00
5,C Count,1204.00,1235.00,1146.00,1170.0,1184.00,1099.00,1109.00,1177.00,1032.00,1109.00,1131.00,1149.00,1004.00,1098.00,1054.00,1202.0,1153.00,1140.00
6,D Count,841.00,822.00,770.00,733.0,797.00,685.00,744.00,700.00,617.00,716.00,784.00,760.00,691.00,773.00,692.00,734.0,801.00,725.00
7,U Count,0.00,0.00,378.00,409.0,387.00,666.00,377.00,368.00,1004.00,390.00,379.00,410.00,997.00,362.00,676.00,390.0,393.00,395.00

In [25]:
# Statistics of 2015 for centre No 1135
print("Statistics of 2015 for centre No 1135")
center_no_1135_2015 = generate_center_stats_by_year(df_main2015, "1135")
center_no_1135_2015_stats = build_subject_stats_dataframe_by_year(center_no_1135_2015)
center_no_1135_2015_stats

Statistics of 2015 for centre No 1135

,Stats,505,510,515,520,525,530,535,540,545,550,560,565,570,575,580,585,590,595
0,Number Registered,4993.00,5033.00,4915.00,4840.00,5000.00,4944.00,4972.00,4923.00,5108.00,5002.00,4981.00,5009.00,5093.0,5030.00,5039.00,5054.00,5003.00,4957.00
1,Number Passed,4187.00,4174.00,3800.00,3713.00,3819.00,3516.00,3846.00,3763.00,3376.00,3875.00,3857.00,3833.00,3407.0,3851.00,3659.00,3875.00,3847.00,3829.00
2,% Passed,83.86,82.93,77.31,76.71,76.38,71.12,77.35,76.44,66.09,77.47,77.43,76.52,66.9,76.56,72.61,76.67,76.89,77.24
3,A Count,1677.00,1684.00,1523.00,1454.00,1523.00,1363.00,1525.00,1507.00,1357.00,1583.00,1522.00,1509.00,1384.0,1507.00,1462.00,1610.00,1538.00,1561.00
4,B Count,1252.00,1215.00,1143.00,1115.00,1140.00,1064.00,1162.00,1164.00,985.00,1168.00,1182.00,1163.00,963.0,1207.00,1092.00,1155.00,1137.00,1118.00
5,C Count,1258.00,1275.00,1134.00,1144.00,1156.00,1089.00,1159.00,1092.00,1034.00,1124.00,1153.00,1161.00,1060.0,1137.00,1105.00,1110.00,1172.00,1150.00
6,D Count,806.00,859.00,767.00,762.00,788.00,734.00,737.00,768.00,731.00,764.00,755.00,786.00,655.0,783.00,688.00,778.00,798.00,758.00
7,U Count,0.00,0.00,348.00,365.00,393.00,694.00,389.00,392.00,1001.00,363.00,369.00,390.00,1031.0,396.00,692.00,401.00,358.00,370.00

In [26]:
# Statistics of 2015 for centre No 1146
print("Statistics of 2015 for centre No 1146")
center_no_1146_2015 = generate_center_stats_by_year(df_main2015, "1146")
center_no_1146_2015_stats = build_subject_stats_dataframe_by_year(center_no_1146_2015)
center_no_1146_2015_stats

Statistics of 2015 for centre No 1146

,Stats,505,510,515,520,525,530,535,540,545,550,560,565,570,575,580,585,590,595
0,Number Registered,4993.0,5052.00,5070.00,4999.00,5073.00,5205.00,4990.00,5073.00,5038.00,5017.00,5096.00,5024.00,5083.00,5115.00,5058.00,5039.00,5108.00,4971.00
1,Number Passed,4154.0,4232.00,3855.00,3840.00,3903.00,3759.00,3838.00,3854.00,3361.00,3879.00,3913.00,3851.00,3394.00,3925.00,3598.00,3881.00,3926.00,3865.00
2,% Passed,83.2,83.77,76.04,76.82,76.94,72.22,76.91,75.97,66.71,77.32,76.79,76.65,66.77,76.74,71.13,77.02,76.86,77.75
3,A Count,1671.0,1650.00,1501.00,1554.00,1595.00,1477.00,1556.00,1555.00,1377.00,1529.00,1569.00,1573.00,1372.00,1581.00,1432.00,1539.00,1507.00,1559.00
4,B Count,1241.0,1323.00,1248.00,1101.00,1161.00,1125.00,1106.00,1150.00,1007.00,1158.00,1190.00,1150.00,1017.00,1179.00,1099.00,1160.00,1191.00,1155.00
5,C Count,1242.0,1259.00,1106.00,1185.00,1147.00,1157.00,1176.00,1149.00,977.00,1192.00,1154.00,1128.00,1005.00,1165.00,1067.00,1182.00,1228.00,1151.00
6,D Count,839.0,820.00,803.00,781.00,754.00,734.00,807.00,803.00,678.00,742.00,779.00,789.00,654.00,802.00,739.00,785.00,805.00,730.00
7,U Count,0.0,0.00,412.00,378.00,416.00,712.00,345.00,416.00,999.00,396.00,404.00,384.00,1035.00,388.00,721.00,373.00,377.00,376.00

In [27]:
# Statistics of 2015 for centre No 1175
print("Statistics of 2015 for centre No 1175")
center_no_1175_2015 = generate_center_stats_by_year(df_main2015, "1175")
center_no_1175_2015_stats = build_subject_stats_dataframe_by_year(center_no_1175_2015)
center_no_1175_2015_stats

Statistics of 2015 for centre No 1175

,Stats,505,510,515,520,525,530,535,540,545,550,560,565,570,575,580,585,590,595
0,Number Registered,4999.00,4997.00,5020.00,4967.00,4921.00,5012.00,5013.00,4978.00,4988.00,5025.00,4980.00,4909.00,4943.00,4984.00,4942.00,5047.00,4907.00,5047.00
1,Number Passed,4155.00,4144.00,3870.00,3782.00,3782.00,3593.00,3892.00,3847.00,3333.00,3910.00,3822.00,3760.00,3333.00,3875.00,3549.00,3870.00,3738.00,3863.00
2,% Passed,83.12,82.93,77.09,76.14,76.85,71.69,77.64,77.28,66.82,77.81,76.75,76.59,67.43,77.75,71.81,76.68,76.18,76.54
3,A Count,1687.00,1721.00,1550.00,1533.00,1511.00,1486.00,1516.00,1566.00,1313.00,1612.00,1552.00,1504.00,1369.00,1562.00,1441.00,1464.00,1520.00,1561.00
4,B Count,1250.00,1205.00,1207.00,1072.00,1134.00,1047.00,1175.00,1159.00,1008.00,1121.00,1145.00,1164.00,954.00,1137.00,1064.00,1198.00,1168.00,1165.00
5,C Count,1218.00,1218.00,1113.00,1177.00,1137.00,1060.00,1201.00,1122.00,1012.00,1177.00,1125.00,1092.00,1010.00,1176.00,1044.00,1208.00,1050.00,1137.00
6,D Count,844.00,853.00,768.00,806.00,757.00,699.00,753.00,741.00,675.00,722.00,774.00,782.00,679.00,727.00,678.00,803.00,788.00,792.00
7,U Count,0.00,0.00,382.00,379.00,382.00,720.00,368.00,390.00,980.00,393.00,384.00,367.00,931.00,382.00,715.00,374.00,381.00,392.00

In [28]:
# Statistics of 2015 for centre No 1176
print("Statistics of 2015 for centre No 1176")
center_no_1176_2015 = generate_center_stats_by_year(df_main2015, "1176")
center_no_1176_2015_stats = build_subject_stats_dataframe_by_year(center_no_1176_2015)
center_no_1176_2015_stats

Statistics of 2015 for centre No 1176

,Stats,505,510,515,520,525,530,535,540,545,550,560,565,570,575,580,585,590,595
0,Number Registered,5008.00,4984.00,5021.00,4962.00,4926.00,5003.00,4998.00,4995.0,4999.00,5013.0,4992.0,5037.00,4911.00,5039.00,5001.00,5025.00,5057.00,5041.00
1,Number Passed,4155.00,4164.00,3874.00,3832.00,3843.00,3504.00,3835.00,3856.0,3328.00,3875.0,3819.0,3910.00,3286.00,3897.00,3560.00,3871.00,3843.00,3911.00
2,% Passed,82.97,83.55,77.16,77.23,78.01,70.04,76.73,77.2,66.57,77.3,76.5,77.63,66.91,77.34,71.19,77.03,75.99,77.58
3,A Count,1684.00,1715.00,1557.00,1583.00,1552.00,1412.00,1535.00,1487.0,1319.00,1484.0,1468.0,1596.00,1321.00,1609.00,1442.00,1596.00,1566.00,1545.00
4,B Count,1240.00,1223.00,1180.00,1136.00,1162.00,1046.00,1116.00,1173.0,990.00,1161.0,1189.0,1205.00,994.00,1146.00,1081.00,1090.00,1090.00,1188.00
5,C Count,1231.00,1226.00,1137.00,1113.00,1129.00,1046.00,1184.00,1196.0,1019.00,1230.0,1162.0,1109.00,971.00,1142.00,1037.00,1185.00,1187.00,1178.00
6,D Count,853.00,820.00,775.00,737.00,727.00,762.00,785.00,778.0,676.00,765.0,790.0,783.00,669.00,761.00,731.00,777.00,782.00,773.00
7,U Count,0.00,0.00,372.00,393.00,356.00,737.00,378.00,361.0,995.00,373.0,383.0,344.00,956.00,381.00,710.00,377.00,432.00,357.00

In [29]:
# 8. DATAFRAMES FOR 2015 EXAMINATION YEAR BY CENTERS
print("DATAFRAMES FOR 2015 EXAMINATIONS YEAR BY CENTER")

#DataFrame for Examination Year 2015
print("Print DataFrames for Year 2015")
df_main2015 = df_main2015.loc[df_main2015['Exam Year'] == '2015']
df_main2015.head(10)

DATAFRAMES FOR 2015 EXAMINATIONS YEAR BY CENTER
Print DataFrames for Year 2015

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1230,OL1230,1110,2015,njwo0 ngwo0,M,D,A,,D,,...,,,B,,,,D,7,3,6
OL1231,OL1231,1110,2015,njwo1 ngwo1,M,,,B,D,C,...,B,C,,,,,,5,4,6
OL1232,OL1232,1175,2015,njwo2 ngwo2,F,A,,,,,...,C,,,B,B,,,6,5,10
OL1233,OL1233,1115,2015,njwo3 ngwo3,M,,,,,B,...,,,,,A,,,5,5,13
OL1234,OL1234,1124,2015,njwo4 ngwo4,F,,,A,B,A,...,,,,,,,A,5,5,13
OL1235,OL1235,1124,2015,njwo5 ngwo5,F,B,,,,A,...,,U,,B,,,A,10,8,19
OL1236,OL1236,1131,2015,njwo6 ngwo6,M,A,,,C,,...,,,B,,,,,6,6,13
OL1237,OL1237,1135,2015,njwo7 ngwo7,M,,A,,,C,...,,A,,,,D,,6,4,8
OL1238,OL1238,1131,2015,njwo8 ngwo8,F,,,D,,,...,,,,B,,D,,6,3,7
OL1239,OL1239,1175,2015,njwo9 ngwo9,M,,,A,C,D,...,,U,,A,,,,8,5,12

In [30]:
#DataFrame for Examination Year 2015 for Center 1110
print("Print DataFrames for Year Center No 1110")
df_main2015_1110 = df_main2015.loc[df_main2015['Center Number'] == '1110']
df_main2015_1110.head(10)

Print DataFrames for Year Center No 1110

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1230,OL1230,1110,2015,njwo0 ngwo0,M,D,A,,D,,...,,,B,,,,D,7,3,6
OL1231,OL1231,1110,2015,njwo1 ngwo1,M,,,B,D,C,...,B,C,,,,,,5,4,6
OL12314,OL12314,1110,2015,njwo14 ngwo14,M,A,D,,U,B,...,,,,,,A,,7,5,13
OL12321,OL12321,1110,2015,njwo21 ngwo21,M,,,A,U,A,...,B,D,,B,,,C,9,5,11
OL12322,OL12322,1110,2015,njwo22 ngwo22,M,B,,,C,A,...,,,,,,D,,8,7,14
OL12323,OL12323,1110,2015,njwo23 ngwo23,M,C,C,A,,,...,,,,,,D,,6,4,8
OL12334,OL12334,1110,2015,njwo34 ngwo34,M,C,,,,B,...,D,C,D,,,,B,7,5,8
OL12341,OL12341,1110,2015,njwo41 ngwo41,F,,B,,,A,...,U,C,,D,A,,,9,7,13
OL12343,OL12343,1110,2015,njwo43 ngwo43,M,,D,,,,...,A,,,A,,B,,8,6,14
OL12347,OL12347,1110,2015,njwo47 ngwo47,F,,,C,,A,...,A,B,,,B,,,9,8,17

In [31]:
#DataFrame for Examination Year 2015 for Center 1115
print("Print DataFrames for Year Center No 1115")
df_main2015_1115 = df_main2015.loc[df_main2015['Center Number'] == '1115']
df_main2015_1115.head(10)

Print DataFrames for Year Center No 1115

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1233,OL1233,1115,2015,njwo3 ngwo3,M,,,,,B,...,,,,,A,,,5,5,13
OL12326,OL12326,1115,2015,njwo26 ngwo26,F,,,A,,A,...,A,,,,,B,A,9,9,24
OL12350,OL12350,1115,2015,njwo50 ngwo50,M,A,,,A,C,...,B,C,B,,,,A,11,11,24
OL12360,OL12360,1115,2015,njwo60 ngwo60,F,,,A,A,A,...,A,,,B,A,,,10,8,20
OL12362,OL12362,1115,2015,njwo62 ngwo62,M,C,B,B,,,...,A,,,C,,A,,11,10,22
OL12363,OL12363,1115,2015,njwo63 ngwo63,M,,B,,,,...,,,,B,B,U,D,8,5,10
OL12364,OL12364,1115,2015,njwo64 ngwo64,M,,,,C,,...,A,,,A,,C,U,5,4,8
OL12369,OL12369,1115,2015,njwo69 ngwo69,F,,A,A,,D,...,A,,A,,A,,C,8,7,19
OL12384,OL12384,1115,2015,njwo84 ngwo84,F,C,B,C,U,,...,,,,,U,,C,8,6,7
OL12392,OL12392,1115,2015,njwo92 ngwo92,F,,,A,,B,...,A,,,,,,,6,4,10

In [32]:
#DataFrame for Examination Year 2015 for Center 1124
print("Print DataFrames for Year Center No 1124")
df_main2015_1124 = df_main2015.loc[df_main2015['Center Number'] == '1124']
df_main2015_1124.head(10)

Print DataFrames for Year Center No 1124

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1234,OL1234,1124,2015,njwo4 ngwo4,F,,,A,B,A,...,,,,,,,A,5,5,13
OL1235,OL1235,1124,2015,njwo5 ngwo5,F,B,,,,A,...,,U,,B,,,A,10,8,19
OL12312,OL12312,1124,2015,njwo12 ngwo12,M,,A,,,D,...,C,B,,U,,,B,8,5,11
OL12313,OL12313,1124,2015,njwo13 ngwo13,M,,,,,C,...,C,U,A,,,U,,10,7,10
OL12318,OL12318,1124,2015,njwo18 ngwo18,F,,,D,B,U,...,B,A,D,,,A,,10,6,14
OL12337,OL12337,1124,2015,njwo37 ngwo37,F,C,A,,A,,...,,C,,,A,U,,8,6,13
OL12338,OL12338,1124,2015,njwo38 ngwo38,M,,,C,,,...,A,A,C,,D,,,9,7,15
OL12339,OL12339,1124,2015,njwo39 ngwo39,M,C,A,,A,A,...,,B,,,,A,,6,6,15
OL12348,OL12348,1124,2015,njwo48 ngwo48,M,C,,,,A,...,,A,A,,A,D,B,10,9,21
OL12375,OL12375,1124,2015,njwo75 ngwo75,F,B,B,,,,...,,,,D,,B,A,9,6,13

In [33]:
#DataFrame for Examination Year 2015 for Center 1131
print("Print DataFrames for Year Center No 1131")
df_main2015_1131 = df_main2015.loc[df_main2015['Center Number'] == '1131']
df_main2015_1131.head(10)

Print DataFrames for Year Center No 1131

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1236,OL1236,1131,2015,njwo6 ngwo6,M,A,,,C,,...,,,B,,,,,6,6,13
OL1238,OL1238,1131,2015,njwo8 ngwo8,F,,,D,,,...,,,,B,,D,,6,3,7
OL12324,OL12324,1131,2015,njwo24 ngwo24,F,,D,,,,...,A,C,A,U,,A,,8,6,16
OL12325,OL12325,1131,2015,njwo25 ngwo25,F,,,,,C,...,C,,A,B,,B,U,7,6,11
OL12328,OL12328,1131,2015,njwo28 ngwo28,F,B,,A,A,,...,,C,,,A,,A,6,6,15
OL12330,OL12330,1131,2015,njwo30 ngwo30,M,,A,C,C,A,...,,C,,B,D,A,,11,9,18
OL12332,OL12332,1131,2015,njwo32 ngwo32,F,D,,A,,,...,A,B,U,A,D,U,,11,7,15
OL12333,OL12333,1131,2015,njwo33 ngwo33,M,B,,,C,C,...,B,,,,,D,,10,9,15
OL12342,OL12342,1131,2015,njwo42 ngwo42,F,,,,,,...,D,,,C,A,,U,7,3,5
OL12352,OL12352,1131,2015,njwo52 ngwo52,M,,,D,,,...,,C,,,,A,,5,2,4

In [34]:
#DataFrame for Examination Year 2015 for Center 1135
print("Print DataFrames for Year Center No 1135")
df_main2015_1135 = df_main2015.loc[df_main2015['Center Number'] == '1135']
df_main2015_1135.head(10)

Print DataFrames for Year Center No 1135

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1237,OL1237,1135,2015,njwo7 ngwo7,M,,A,,,C,...,,A,,,,D,,6,4,8
OL12336,OL12336,1135,2015,njwo36 ngwo36,M,,A,,A,,...,,,,A,,,,6,4,10
OL12340,OL12340,1135,2015,njwo40 ngwo40,M,,,,,,...,,A,C,C,,A,,7,6,13
OL12361,OL12361,1135,2015,njwo61 ngwo61,M,,D,,,,...,,,C,,,,A,6,2,4
OL12367,OL12367,1135,2015,njwo67 ngwo67,M,,A,A,,B,...,,C,,,A,B,C,9,8,16
OL12371,OL12371,1135,2015,njwo71 ngwo71,M,,,A,,A,...,,C,,,,,D,8,6,10
OL12373,OL12373,1135,2015,njwo73 ngwo73,F,,A,C,C,U,...,C,,,B,,,,8,6,11
OL12378,OL12378,1135,2015,njwo78 ngwo78,M,,,,C,,...,C,,,B,,C,B,7,7,12
OL12388,OL12388,1135,2015,njwo88 ngwo88,M,B,C,A,,,...,D,A,B,U,,,,10,7,15
OL12393,OL12393,1135,2015,njwo93 ngwo93,M,B,,,A,C,...,B,,,,A,U,,11,9,18

In [35]:
#DataFrame for Examination Year 2015 for Center 1146
print("Print DataFrames for Year Center No 1146")
df_main2015_1146 = df_main2015.loc[df_main2015['Center Number'] == '1146']
df_main2015_1146.head(10)

Print DataFrames for Year Center No 1146

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL12315,OL12315,1146,2015,njwo15 ngwo15,M,C,C,C,,C,...,A,A,B,A,,,B,9,9,17
OL12329,OL12329,1146,2015,njwo29 ngwo29,F,B,,B,,,...,B,,,,,,A,7,6,15
OL12331,OL12331,1146,2015,njwo31 ngwo31,M,,C,,C,,...,D,,C,,,,,5,4,6
OL12346,OL12346,1146,2015,njwo46 ngwo46,M,A,A,,,D,...,A,U,,A,A,B,,11,8,23
OL12351,OL12351,1146,2015,njwo51 ngwo51,M,,B,B,,B,...,,,,C,B,A,,11,9,21
OL12354,OL12354,1146,2015,njwo54 ngwo54,F,D,,A,,,...,,,,,C,,,7,5,11
OL12359,OL12359,1146,2015,njwo59 ngwo59,F,,,,,C,...,C,B,D,,,U,B,8,6,11
OL12372,OL12372,1146,2015,njwo72 ngwo72,F,,,D,U,,...,,B,,,C,,,6,4,8
OL12381,OL12381,1146,2015,njwo81 ngwo81,M,A,,,B,,...,,,,,,C,,5,4,8
OL123102,OL123102,1146,2015,njwo102 ngwo102,F,,,,,,...,,,C,,B,C,,6,4,5

In [36]:
#DataFrame for Examination Year 2015 for Center 1175
print("Print DataFrames for Year Center No 1175")
df_main2015_1175 = df_main2015.loc[df_main2015['Center Number'] == '1175']
df_main2015_1175.head(10)

Print DataFrames for Year Center No 1175

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL1232,OL1232,1175,2015,njwo2 ngwo2,F,A,,,,,...,C,,,B,B,,,6,5,10
OL1239,OL1239,1175,2015,njwo9 ngwo9,M,,,A,C,D,...,,U,,A,,,,8,5,12
OL12327,OL12327,1175,2015,njwo27 ngwo27,M,C,,B,B,A,...,,,A,B,C,,C,11,11,19
OL12344,OL12344,1175,2015,njwo44 ngwo44,F,,A,,D,,...,,,,,,B,A,5,4,10
OL12349,OL12349,1175,2015,njwo49 ngwo49,M,,,A,B,,...,D,,,,D,A,,9,7,16
OL12353,OL12353,1175,2015,njwo53 ngwo53,M,,C,,C,,...,,,,,,,,6,5,6
OL12377,OL12377,1175,2015,njwo77 ngwo77,M,C,B,A,,,...,,,D,,,,,6,5,11
OL12379,OL12379,1175,2015,njwo79 ngwo79,F,,,U,U,,...,,,,,,,,6,3,5
OL12385,OL12385,1175,2015,njwo85 ngwo85,F,,A,,,,...,,A,B,,,C,C,9,8,17
OL12386,OL12386,1175,2015,njwo86 ngwo86,M,C,,C,,,...,,,,U,,U,,5,3,5

In [37]:
#DataFrame for Examination Year 2015 for Center 1176
print("Print DataFrames for Year Center No 1176")
df_main2015_1176 = df_main2015.loc[df_main2015['Center Number'] == '1176']
df_main2015_1176.head(10)

Print DataFrames for Year Center No 1176

,Student Exam No,Center Number,Exam Year,Student Names,Gender,505G,510G,515G,520G,525G,...,565G,570G,575G,580G,585G,590G,595G,Subjects Registered,Subjects Passed,Points
Student Exam Number,,,,,,,,,,,,,,,,,,,,,
OL12310,OL12310,1176,2015,njwo10 ngwo10,F,,,,,,...,,,,,B,A,C,5,5,10
OL12311,OL12311,1176,2015,njwo11 ngwo11,F,,,,,C,...,,U,,,,,,5,3,5
OL12316,OL12316,1176,2015,njwo16 ngwo16,F,,B,,,B,...,,,,,,A,D,6,4,9
OL12317,OL12317,1176,2015,njwo17 ngwo17,F,,A,C,B,,...,A,D,,,C,,B,11,10,21
OL12319,OL12319,1176,2015,njwo19 ngwo19,M,A,,,,,...,,,,,A,,A,7,7,18
OL12320,OL12320,1176,2015,njwo20 ngwo20,F,A,D,,,,...,C,,,U,,A,,8,5,10
OL12335,OL12335,1176,2015,njwo35 ngwo35,M,D,,C,,,...,B,C,,,B,D,,11,8,15
OL12345,OL12345,1176,2015,njwo45 ngwo45,F,,,,,A,...,B,U,,A,C,,,8,7,14
OL12356,OL12356,1176,2015,njwo56 ngwo56,F,,B,,A,B,...,C,,D,C,U,,D,11,6,11
OL12357,OL12357,1176,2015,njwo57 ngwo57,F,B,,C,,C,...,B,,,D,,,,8,5,9

In [38]:
# 9. COMPUTING STATISTICS FOR CENTRES FOR EXAM YEAR 2015
# Computation statistics of number of passed in Centre 1110 for 2015
print("STATISTICS OF PERFORMANE BY EACH CENTRE FOR 2015 EXAM YEAR")
print("Statistics of Number of passes and failures in Centre 1110 for 2015")
def pass_fail(dataframe):
    return {"Passed":len(dataframe[dataframe['Subjects Passed'] >= 4]), 
            "Failed":len(dataframe[dataframe['Subjects Passed'] < 4 ]),
            "Percentage Pass":round(float(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])*100/(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])+(len(dataframe[dataframe['Subjects Passed'] < 4 ])))),2)}
print(pass_fail(df_main2015_1110))

STATISTICS OF PERFORMANE BY EACH CENTRE FOR 2015 EXAM YEAR
Statistics of Number of passes and failures in Centre 1110 for 2015
{'Passed': 10350, 'Failed': 1008, 'Percentage Pass': 91.13}

In [39]:
# Computation statistics of number of passed in Centre 1115 for 2015
print("Statistics of Number of passes and failures in Centre 1115 for 2015")
def pass_fail(dataframe):
    return {"Passed":len(dataframe[dataframe['Subjects Passed'] >= 4]), 
            "Failed":len(dataframe[dataframe['Subjects Passed'] < 4 ]),
            "Percentage Pass":round(float(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])*100/(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])+(len(dataframe[dataframe['Subjects Passed'] < 4 ])))),2)}
print(pass_fail(df_main2015_1115))

Statistics of Number of passes and failures in Centre 1115 for 2015
{'Passed': 10273, 'Failed': 949, 'Percentage Pass': 91.54}

In [40]:
# Computation statistics of number of passed in Centre 1124 for 2015
print("Statistics of Number of passes and failures in Centre 1124 for 2015")
def pass_fail(dataframe):
    return {"Passed":len(dataframe[dataframe['Subjects Passed'] >= 4]), 
            "Failed":len(dataframe[dataframe['Subjects Passed'] < 4 ]),
            "Percentage Pass":round(float(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])*100/(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])+(len(dataframe[dataframe['Subjects Passed'] < 4 ])))),2)}
print(pass_fail(df_main2015_1124))

Statistics of Number of passes and failures in Centre 1124 for 2015
{'Passed': 10189, 'Failed': 987, 'Percentage Pass': 91.17}

In [41]:
# Computing statistics of number of subjects passed in Centre 1131 for 2015
print("Statistics of Number of passes and failures in Centre 1131 for 2015")
def pass_fail(dataframe):
    return {"Passed":len(dataframe[dataframe['Subjects Passed'] >= 4]), 
            "Failed":len(dataframe[dataframe['Subjects Passed'] < 4 ]),
            "Percentage Pass":round(float(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])*100/(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])+(len(dataframe[dataframe['Subjects Passed'] < 4 ])))),2)}
print(pass_fail(df_main2015_1131))

Statistics of Number of passes and failures in Centre 1131 for 2015
{'Passed': 10204, 'Failed': 991, 'Percentage Pass': 91.15}

In [42]:
# Computing statistics of number of passed in Centre 1135 for 2015
print("Statistics of Number of passes and failures in Centre 1110 for 2015")
def pass_fail(dataframe):
    return {"Passed":len(dataframe[dataframe['Subjects Passed'] >= 4]), 
            "Failed":len(dataframe[dataframe['Subjects Passed'] < 4 ]),
            "Percentage Pass":round(float(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])*100/(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])+(len(dataframe[dataframe['Subjects Passed'] < 4 ])))),2)}
print(pass_fail(df_main2015_1135))

Statistics of Number of passes and failures in Centre 1110 for 2015
{'Passed': 10249, 'Failed': 1021, 'Percentage Pass': 90.94}

In [43]:
# Computing statistics of number of passed in Centre 1146 for 2015
print("Statistics of Number of passes and failures in Centre 1146 for 2015")
def pass_fail(dataframe):
    return {"Passed":len(dataframe[dataframe['Subjects Passed'] >= 4]), 
            "Failed":len(dataframe[dataframe['Subjects Passed'] < 4 ]),
            "Percentage Pass":round(float(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])*100/(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])+(len(dataframe[dataframe['Subjects Passed'] < 4 ])))),2)}
print(pass_fail(df_main2015_1146))

Statistics of Number of passes and failures in Centre 1146 for 2015
{'Passed': 10342, 'Failed': 971, 'Percentage Pass': 91.42}

In [44]:
# Computing statistics of number of passed in Centre 1175 for 2015
print("Statistics of Number of passes and failures in Centre 1175 for 2015")
def pass_fail(dataframe):
    return {"Passed":len(dataframe[dataframe['Subjects Passed'] >= 4]), 
            "Failed":len(dataframe[dataframe['Subjects Passed'] < 4 ]),
            "Percentage Pass":round(float(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])*100/(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])+(len(dataframe[dataframe['Subjects Passed'] < 4 ])))),2)}
print(pass_fail(df_main2015_1175))

Statistics of Number of passes and failures in Centre 1175 for 2015
{'Passed': 10226, 'Failed': 993, 'Percentage Pass': 91.15}

In [45]:
# Computing statistics of number of passed in Centre 1176 for 2015
print("Statistics of Number of passes and failures in Centre 1176 for 2015")
def pass_fail(dataframe):
    return {"Passed":len(dataframe[dataframe['Subjects Passed'] >= 4]), 
            "Failed":len(dataframe[dataframe['Subjects Passed'] < 4 ]),
            "Percentage Pass":round(float(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])*100/(len(dataframe[dataframe['Subjects Passed'] 
                                >= 4])+(len(dataframe[dataframe['Subjects Passed'] < 4 ])))),2)}
print(pass_fail(df_main2015_1176))

Statistics of Number of passes and failures in Centre 1176 for 2015
{'Passed': 10309, 'Failed': 938, 'Percentage Pass': 91.66}

10 PRINT STUDENT INDIVIDUAL RESULT SLIP.
Function will take a list which represents a row in the above 
DataFrame whihch represents a student's record

In [46]:
def print_slip(list_of_student_record):
    #to print student name
    print()
    print("STUDENT INDIVIDUAL RESULT SLIP")
    print("Student Names: " + list_of_student_record[3])
    print("Student Exam Number: "+ list_of_student_record[0])
    print("Centre Number: " + list_of_student_record[1])
    print("Examination Year: " + list_of_student_record[2])
    print("Gender: " + list_of_student_record[4])
    
    acc = list_of_student_record[5]
    bio = list_of_student_record[6]
    chm = list_of_student_record[7]
    com = list_of_student_record[8]
    eco = list_of_student_record[9]
    enl = list_of_student_record[10]
    lit = list_of_student_record[11]
    fre = list_of_student_record[12]
    fnu = list_of_student_record[13]
    geo = list_of_student_record[14]
    his = list_of_student_record[15]
    hbi = list_of_student_record[16]
    mat = list_of_student_record[17]
    adm = list_of_student_record[18]
    phy = list_of_student_record[19]
    rel = list_of_student_record[20]
    csc = list_of_student_record[21]
    hec = list_of_student_record[22]
    
    if acc != '':
        print("505 Accounting  "+ acc)
    if bio != '':
        print("510 Biology  "+bio)
    if chm != '':
        print("515 Chemistry  "+chm)
    if com != '':
        print("520 Commerce  "+com)
    if eco != '':
        print("525 Economics  "+eco)
    if enl != '':
        print("530 English Language  "+enl)
    if lit != '':
        print("535 English Literature  "+lit)
    if fre != '':
        print("545 French  "+fre)
    if fnu != '':
        print("540 Food and Nutrition  "+fnu)
    if geo != '':
        print("550 Geography  "+geo)
    if his != '':
        print("560 History  "+his)
    if hbi != '':
        print("565 Human Biology  "+hbi)
    if mat != '':
        print("570 Mathematics  "+mat)    
    if adm != '':
        print("575 Additional Mathematics  "+adm)
    if phy != '':
        print("580 Physics  "+phy)
    if rel != '':
        print("585 Religious Studies  "+rel)    
    if csc != '':
        print("590 Computer Computer Science  "+csc)
    if csc != '':
        print("595 Home Economics  "+hec)

In [47]:
for row in range(0,10):
    print_slip(df_main2015.values[row])

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo0 ngwo0
Student Exam Number: OL1230
Centre Number: 1110
Examination Year: 2015
Gender: M
505 Accounting  D
510 Biology  A
520 Commerce  D
535 English Literature  C
540 Food and Nutrition  U
575 Additional Mathematics  B

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo1 ngwo1
Student Exam Number: OL1231
Centre Number: 1110
Examination Year: 2015
Gender: M
515 Chemistry  B
520 Commerce  D
525 Economics  C
565 Human Biology  B
570 Mathematics  C

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo2 ngwo2
Student Exam Number: OL1232
Centre Number: 1175
Examination Year: 2015
Gender: F
505 Accounting  A
530 English Language  B
550 Geography  D
565 Human Biology  C
580 Physics  B
585 Religious Studies  B

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo3 ngwo3
Student Exam Number: OL1233
Centre Number: 1115
Examination Year: 2015
Gender: M
525 Economics  B
530 English Language  A
545 French  B
540 Food and Nutrition  A
585 Religious Studies  A

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo4 ngwo4
Student Exam Number: OL1234
Centre Number: 1124
Examination Year: 2015
Gender: F
515 Chemistry  A
520 Commerce  B
525 Economics  A
560 History  B

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo5 ngwo5
Student Exam Number: OL1235
Centre Number: 1124
Examination Year: 2015
Gender: F
505 Accounting  B
525 Economics  A
530 English Language  U
535 English Literature  A
545 French  B
540 Food and Nutrition  C
560 History  A
570 Mathematics  U
580 Physics  B

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo6 ngwo6
Student Exam Number: OL1236
Centre Number: 1131
Examination Year: 2015
Gender: M
505 Accounting  A
520 Commerce  C
535 English Literature  A
550 Geography  C
560 History  A
575 Additional Mathematics  B

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo7 ngwo7
Student Exam Number: OL1237
Centre Number: 1135
Examination Year: 2015
Gender: M
510 Biology  A
525 Economics  C
530 English Language  C
540 Food and Nutrition  U
570 Mathematics  A
590 Computer Computer Science  D
595 Home Economics

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo8 ngwo8
Student Exam Number: OL1238
Centre Number: 1131
Examination Year: 2015
Gender: F
515 Chemistry  D
540 Food and Nutrition  A
550 Geography  D
560 History  B
580 Physics  B
590 Computer Computer Science  D
595 Home Economics

STUDENT INDIVIDUAL RESULT SLIP
Student Names: njwo9 ngwo9
Student Exam Number: OL1239
Centre Number: 1175
Examination Year: 2015
Gender: M
515 Chemistry  A
520 Commerce  C
525 Economics  D
545 French  B
550 Geography  A
560 History  D
570 Mathematics  U
580 Physics  A